.main {

	/* ↓ Alignment ↓ */
	min-height:			80vh;
	margin-left:		10%;
	margin-right:		10%;
	text-align:			center;

	/* ↓ FlexBox ↓ */
	display:			flex;
	flex-direction:		column;
	flex-wrap:			nowrap;
	justify-content:	flex-start;	/* ↑↓ */
	align-items:		center;		/* ←→ */
	align-content:		stretch;	/* ?? */

}

/* ↓ Vertical (Mobile) ↓ */
@media only screen and (max-width: 600px) {
	
	.main {
		margin-left:		4%;
		margin-right:		4%;
	}

	.StormAdviceItemsContainer {
		padding: 0%;
		margin-left:		0%;
		margin-right:		0%;
	}

}

.StormAdviceItemsContainer {

	/* ↓ Alignment ↓ */
	height:				100%;
	max-width:			85%;
	margin-top:			5%;
	margin-bottom:		8%;

	/* ↓ FlexBox ↓ */
	display:			flex;
	flex-direction:		row;
	flex-wrap:			wrap;
	justify-content:	center;			/* ←→ */
	align-items:		stretch;		/* ↑↓ */
	align-content:		stretch;		/* ?? */

}